# =====================
# Python
# =====================
__pycache__/
*.pyc
*.pyo
*.pyd

# =====================
# Virtual Environment
# =====================
PNEnv/

# =====================
# PyTorch
# =====================
*.pth
*.pt
*.ckpt

# =====================
# Datasets
# =====================
data/ModelNet40/

# =====================
# OS files
# =====================
.DS_Store
Thumbs.db
